---
import { Content as Intro } from "../redactional/intro.md";
import { Content as Test } from "../redactional/test.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Bienvenue sur notre siasd te</h1>
  <Intro />
  <Test />

  <h2>Ce titre est genial</h2>
  <p>Ceci est un parag</p>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
  <blockquote>
    that's a quote qwqwe qweqwe asdsadsaddsfsdfsdfsdsdfsdfdsf
  </blockquote>
  <a href="/blog/post-1/">Post 1</a>
</BaseLayout>
